<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <include
        android:id="@+id/toolbar"
        layout="@layout/toolbar" />
    <RelativeLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:minWidth="25px"
        android:minHeight="25px"
        android:background="#ff000000">
        <WebView xmlns:tools="http://schemas.android.com/tools"
            android:layout_width="0dp"
            android:layout_height="0dp"
            android:id="@+id/webView1"
            android:background="#ff000000"
            tools:visibility="gone" />
        <ProgressBar
            style="?android:attr/progressBarStyleHorizontal"
            android:layout_width="match_parent"
            android:layout_height="14dp"
            android:id="@+id/progressBar1"
            android:progress="0"
            android:max="100"
            android:background="#ff000000"
            android:progressDrawable="@drawable/progressbarcolor"
            android:paddingTop="5dp"
            android:paddingBottom="5dp"
            android:layout_alignParentTop="true" />
    </RelativeLayout>
</LinearLayout>